.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
project.assets.json
project.nuget.cache
artifacts/
packages/
!packages/build/

Properties/PublishProfiles/*.user
*.pubxml.user

.idea/
*.sln.iml

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

*.tmp
*.temp
*.bak
*.swp
*.lock
*.log

Generated_Code/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.idb
*.tlog
*.lastbuildstate
